<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901183170931-8rot6pbe6mufi5qo89elrjlgbs1uekf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901183170931-8rot6pbe6mufi5qo89elrjlgbs1uekf3</string>
	<key>API_KEY</key>
	<string>AIzaSyCMAFxkoajuNXp23sb5mCUs6cjZmko-sik</string>
	<key>GCM_SENDER_ID</key>
	<string>901183170931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>patrick.chen.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-app-eeb5b</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-app-eeb5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901183170931:ios:b9dc777dfea54d46bafd06</string>
</dict>
</plist>